:root {
  --bg-color: #e0e1dd;
  --circles-color: #c1121f;
  --font-color: #0d1b2a;
  --bar-empty-color: #e0e1dd;
}

body {
  font-family: "Poppins", sans-serif;
  text-align: center;
}
h1 {
  color: var(--circles-color);
}
.container {
  text-align: center;
}
.progress-container {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  width: 300px;
  margin: 0 auto;
  position: relative;
  color: var(--font-color);
  font-size: 18px;
}

.progress-container::before {
  content: "";
  background-color: var(--bg-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 5px;
  width: 100%;
  z-index: -1;
}
.progress {
  background-color: var(--circles-color);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50);
  height: 5px;
  width: 0;
  z-index: -1;
  transition: 0.4s ease;
}
.circle {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-size: 18px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--bar-empty-color);
  transition: 0.5s ease;
  font-weight: bold;
}
.circle.active {
  border-color: var(--circles-color);
}
button {
  margin: 20px;
  padding: 8px 15px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  color: white;
  font-weight: bold;
  font-family: inherit;
  cursor: pointer;
  background-color: var(--circles-color);
}

button:disabled {
  cursor: not-allowed;
}
